/* Common Shared Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.bg-primary {
    background: rgba(229, 84, 115, 0.10);
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 45px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.section-title {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

/* main section-1 related styles */
.flowers-container {
    display: flex;
    align-items: center;
    gap: 95px;
    padding: 50px 140px 0px;
    margin-bottom: 50px;
}

.flowers-title {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 30px;
}

.flower-image {
    width: 600px;
    height: 500px;
}

/* Bonus section related styles */
.featured-container {
    text-align: center;
    margin: 0px 350px;
}

.featured-flowers-images {
    width: 70%;
    margin: 30px auto;
    display: flex;
    gap: 25px;
    text-align: center;
}

.featured-item1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 50px 45px 0px 45px;
    margin-bottom: 20px;
}

.featured-item2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 50px 45px 0px 45px;
    margin-bottom: 20px;
}

.featured-item3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 50px 45px 0px 45px;
    margin-bottom: 20px;
}

.featured-item1 img {
    width: 200px;
    height: 220px;
}
.featured-item2 img {
    width: 200px;
    height: 220px;
}
.featured-item3 img {
    width: 200px;
    height: 220px;
}


/* main section-2 related styles */
.hot-deal-container {
    display: flex;
    align-items: center;
    gap: 180px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    text-align: center;
    padding: 50px 120px;
    margin-bottom: 50px;
}


.section-title span {
    color: #E55473;
    font-size: 30px;
    font-weight: 800;
}

.hot-deal-flower-image {
    width: 318px;
    height: 420px;
}

/* main section-3 related styles */
.instagram-container {
    text-align: center;
    margin: 0px 350px;
}

.instagram-images {
    width: 70%;
    margin: 30px auto;
    display: flex;
    gap: 25px;
}

.instagram-images img {
    width: 200px;
    height: 220px;
}

/* main section-4 related styles */

.latest-deal {
    width: 70%;
    margin: 30px auto;
    padding: 50px 0px;
    text-align: center;
    background-image: url('../images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.latest-deal input {
    border-radius: 5px;
    background: #FFF;
    padding: 10px 200px 10px 20px;
    border: none;
}

.latest-deal button {
    padding: 8px 15px;
    text-align: center;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    background: #E55473;
    border: none;
}

/* Footer related Styles */

footer {
    background-color: #111010;
    text-align: center;
    padding: 100px 300px;
}

footer h1 {
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 15px;
}

footer h1>span {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
}

footer p {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

footer h6 {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}